* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  background-color: #242424;
}

body {
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 40px;
}

button {
  border-radius: 4px;

  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

button:hover {
  border: 1px solid purple;
}

/* Components */
.chat-bot {
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 100vh;
  gap: 20px;
}
.chat-bot h1 {
  text-align: center;
}
.chat {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 90%;
}
.list {
  flex-grow: 1;
  background-color: gray;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: auto;
}

.prompt {
  align-self: flex-start;
  background-color: #747bff;
  padding: 5px 20px;
  border-radius: 8px 8px 8px 0;
}
.answer {
  align-self: flex-end;
  padding: 5px 20px;
  border-radius: 8px 8px 0 8px;
  background-color: #747bff;
  max-width: 400px;
}
.image-answer {
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
}

.form input {
  width: 70%;
  height: 50px;
}
